//====================================================================================================
header {
  height: 300px;
  background-color: #FF3CAC;
  background-image: linear-gradient(82.62deg, #847362 -26.47%, #7AABA2 51.45%, #2D9CBA 109.18%);

  .header__container {
    height: 100%;

    .header__banner {
      display: flex;
      justify-content: flex-start;
      height: 100%;

      h1 {
        line-height: 75px;
        color: #FFFFFF;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.57);
        font-weight: 300;
        font-style: normal;
        margin: auto 0;
        padding-left: 71px;
        font-size: 3rem;
      }

      .banner__icon {

        img {
          position: absolute;
          width: 308px;
          height: 362px;
          top: -1px;

          mix-blend-mode: overlay;
          opacity: 0.43;
        }
      }
    }
  }
}
//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/