//====================================================================================================
.header {
  height: 300px;
  background-color: #FF3CAC;
  background-image: linear-gradient(82.62deg, #847362 -26.47%, #7AABA2 51.45%, #2D9CBA 109.18%);
  @media (max-width: $md1) {
    height: 200px;
  }
  @media (max-width: $md2) {
    height: 100px;
  }
  @media (max-width: $md3) {
    height: 100px;
  }

  &__container {
    height: 100%;

    .header__banner {
      display: flex;
      justify-content: flex-start;
      height: 100%;

      h1 {
        line-height: 75px;
        color: #FFFFFF;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.57);
        font-weight: 300;
        font-style: normal;
        margin: auto 0;
        padding-left: 71px;
        font-size: 4rem;
        @media (max-width: $md1) {
          font-size: 3rem;
          padding-left: 0;
        }
        @media (max-width: $md2) {
          font-size: 3rem;
          padding-left: 0;
        }
        @media (max-width: $md3) {
          font-size: 2rem;
          padding-left: 0;
        }
      }

      .banner__icon {

        img {
          position: absolute;
          width: 308px;
          top: -1px;

          mix-blend-mode: overlay;
          opacity: 0.43;

          @media (max-width: $md1) {
            width: 206px;
          }
          @media (max-width: $md2) {
            width: 103px;
          }
          @media (max-width: $md3) {
            width: 103px;
          }
        }
      }
    }
  }
}
//====================================================================================================
