@use "sass:math";

@import "base/mixins";

// Import fonts =========================================================
@import url("https://fonts.googleapis.com/css?family=Raleway:300,500&display=swap");
@import 'base/fonts';


// Default font =========================================================
$fontFamily: "Raleway";
$fontSize: rem(22);

// Variables =========================================================
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1179;
$containerPadding: 130;


// BrakePoints =========================================================
$md1: math.div($maxWidthContainer + $containerPadding, 16) + em; //Notebooks + landscape tablets
$md2: math.div(991.98, 16) + em; //Tablets + landscape phones
$md3: math.div(767.98, 16) + em; //Phones size L
$md4: math.div(479.98, 16) + em; //Phones size S


// Main font color =========================================================
$mainColor: #000000;

// Palette =======================================================
$backgroundColor: #ffffff;

// Reset =========================================================
@import "base/null";


// Common params =========================================================

body {
  color: $mainColor;
  background-color: $backgroundColor;
  font-size: $fontSize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.lock {
    overflow: hidden;
  }
}

// Wrapper ================================================================
.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  //display: grid;
  //grid-template-rows: auto 1fr auto;

  .loaded & {

  }
}

// Brakepoints for containers
[class*="__container"] {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1) {
    max-width: 970px;
  }
  @media (max-width: $md2) {
    max-width: 750px;
  }
  @media (max-width: $md3) {
    max-width: none;
    padding: 0 15px;
  }
}

// Responsive for containers
//[class*=__container] {
//  max-width: $maxWidthContainer + px;
//  margin: 0 auto;
//  box-sizing: content-box;
//  padding: 0 15px;
//}


// Elements styles
@import "header";
@import "nav";
@import "footer";
@import "buttons";


//Main block =================================================

.main {
  flex: 1 1 auto;
}

.section {
  &__title {
    font: normal 300 3rem /125% $fontFamily;
    margin: 60px 0 40px 55px;
  }
}

.textedSlider {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0 0 40px;
  position: relative;

  &__frame {
    display: flex;
    width: 100%;
  }

  &__image {

  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
  }

  &__title {
    font: normal 300 2rem /125% $fontFamily;
    text-align: center;
    margin-bottom: 5px;
  }

  &__description {
    font: normal 300 $fontSize /125% $fontFamily;
    text-align: justify;
    text-indent: 10px;
  }

  .sliderControls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 30px;

    .arrow {
      cursor: pointer;

      &.disabled {
        cursor: not-allowed;
        filter: opacity(.5);
      }
    }

    img {
      width: 30px;
      height: 30px;
    }

    &__arrowLeft {

    }

    &__arrowRight {

    }
  }
}

.quote {
  //border-left: 1px solid #686868;
  margin: 0 100px 40px;
  padding-left: 15px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 1px;
    height: 90%;
    border-left: 2px solid rgba(104, 104, 104, .75);
  }

  &__title {
    font: normal 300 2rem /125% $fontFamily;
  }

  &__text {
    font: normal 300 $fontSize /125% $fontFamily;
  }
}

.wideImage {
  margin: 0 0 40px;
  position: relative;

  img {
    width: 100%;
  }
  &__textFrame {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8);
    mix-blend-mode: lighten;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    height: 100%;
    top: 0;
    width: 50%;
    &-left {
      left: 0;
    }
    &-right {
      right: 0;
    }
  }
  &__title {
    font: normal 300 2.5rem /125% $fontFamily;
    text-align: center;
    margin: 0 0 20px;
    padding-top: 150px;
  }
  &__text {
    font: normal 300 $fontSize /125% $fontFamily;
    text-align: center;
    flex: 0 1 auto;
  }
  &__controls{
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: stretch;

    .btn {
      margin: auto;
    }
  }
}

.halfTextImage {
  display: flex;
  margin: 0 0 40px;

  &__textBlock {
    flex: 0 0 50%;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font: normal 300 2rem /125% $fontFamily;
    text-align: center;
    margin-bottom: 15px;
  }

  &__description {
    font: normal 300 $fontSize /125% $fontFamily;
    text-indent: 10px;
    margin-bottom: 15px;
  }

  &__controls {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: flex-end;
  }

  &__imageBlock {
    flex: 0 0 50%;
  }
}

.threeRowsText {
  display: flex;
  flex-flow: row wrap;
  gap: 62px;
  margin: 0 40px 40px;

  &__item {
    flex: 1 0 0%;
  }

  &__title {
    font: normal 300 2rem /125% $fontFamily;
    text-align: center;
    margin-bottom: 15px;
  }

  &__text {
    font: normal 300 $fontSize /125% $fontFamily;
    text-align: justify;
    text-indent: 10px;
  }
}

.wideArticle {
  margin: 0 0 40px;

  &__title {
    font: normal 300 3rem /125% $fontFamily;
    text-align: center;
    margin-bottom: 15px;
  }

  &__text {
    font: normal 300 $fontSize /125% $fontFamily;
    text-align: justify;
    text-indent: 10px;

    p {
      margin-bottom: 10px;
    }
  }
}

.threeRowsImages {
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 40px;

  &__image {
    flex: 1 0 0%;
  }
}

.imagesGrid {
  display: grid;
  grid-template: repeat(2,1fr) / repeat(3,1fr);

  &__item {

  }
}