@use "sass:math";

@import "base/mixins";

// Import fonts =========================================================
@import url("https://fonts.googleapis.com/css?family=Raleway:300,500&display=swap");
@import 'base/fonts';


// Default font =========================================================
$fontFamily: "Raleway";
$fontSize: rem(22);

// Variables =========================================================
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 1179;
$containerPadding: 130;


// BrakePoints =========================================================
$md1: math.div($maxWidthContainer + $containerPadding, 16) + em; //Notebooks + landscape tablets
$md2: math.div(991.98, 16) + em; //Tablets + landscape phones
$md3: math.div(767.98, 16) + em; //Phones size L
$md4: math.div(479.98, 16) + em; //Phones size S


// Main font color =========================================================
$mainColor: #000000;

// Palette =======================================================
$backgroundColor: #ffffff;

// Reset =========================================================
@import "base/null";


// Common params =========================================================

body {
  color: $mainColor;
  background-color: $backgroundColor;
  font-size: $fontSize;

  &.lock {
    overflow: hidden;
  }
}

// Wrapper ================================================================
.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  //display: grid;
  //grid-template-rows: auto 1fr auto;

  .loaded & {

  }
}

// Brakepoints for containers
[class*="__container"] {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1) {
    max-width: 970px;
  }
  @media (max-width: $md2) {
    max-width: 750px;
  }
  @media (max-width: $md3) {
    max-width: none;
    padding: 0 15px;
  }
}

// Responsive for containers
//[class*=__container] {
//  max-width: $maxWidthContainer + px;
//  margin: 0 auto;
//  box-sizing: content-box;
//  padding: 0 15px;
//}


// Elements styles
@import "header";
@import "nav";
@import "footer";


//Main block =================================================

.main {
  flex: 1 1 auto;
}

.section {
  &__title {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    line-height: 125%;
    margin: 60px 0 40px 55px;
  }
}

.textedSlider {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  &__frame {
    display: flex;
    width: 100%;
  }

  &__image {

  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
  }

  &__title {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 125%;
    text-align: center;
    margin-bottom: 5px;
  }

  &__description {
    font-family: $fontFamily;
    font-style: normal;
    font-weight: 300;
    font-size: rem(22);
    text-align: justify;
    text-indent: 10px;
    line-height: 120%;
  }

  .sliderControls {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -35px;
    width: 70px;
    height: 30px;
    margin-left: auto;

    .arrow {
      cursor: pointer;

      &.disabled {
        cursor: not-allowed;
        filter: opacity(.5);
      }
    }

    img {
      width: 30px;
      height: 30px;
    }

    &__arrowLeft {

    }

    &__arrowRight {

    }
  }
}


